<h2 class="center">Your Links</h3><br>

<h4 class="center">Add New Link</h4>
<div class="container">
  <%= form_for Link.new, url: links_path do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.submit "Add Link", class: "btn" %>
   <% end %>
</div>

<h4 class="center">Past Links</h4>
<div class="container" id="user-links">
  <table class="centered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Link</th>
        <th>Read?</th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |link| %>
      <tr>
        <th class="center"><%= link.title %></th>
        <th class="center"> <a href="<%=link.url%>">Link</a></th>
        <th class="center"><%= link.read.to_s.upcase %></th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
